body {
  overflow-x: hidden;
}

.navbar-brand,
.nav-link {
  font-family: "Cedarville Cursive", cursive;
}

.container-fluid,
.label-form,
.button-form,
.title-form {
  font-family: "Cedarville Cursive", cursive;
}
