body {
  overflow-x: hidden;
}
nav {
  width: 100%;
}

.navbar-brand {
  font-family: "Cedarville Cursive", cursive;
  font-size: 25px;
}
.nav-link {
  font-family: "Playfair Display", serif;
}
.container-fluid,
.label-form,
.button-form,
.title-form {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* .col-6,
.col-3,
.col-4,
.col-5,
.col-3,
.col-2,
.col-1,
.col-7 {
  border: 1px solid black;
} */
/* .col-md-3 {
  border: 1px solid springgreen;
} */
/* .about-image {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
} */
/* .borderme {
  border: 2px solid black;
} */

.img-fluid {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
